/*
Package: portfolio
File: global stylesheet
Author: Noel Nagy
Website: https://github.com/nagynooel
*/
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap");
/*Global*/
* {
  font-family: "Merriweather", serif;
}

h1 {
  font-size: 5em;
}

h1, h3 {
  font-weight: 700;
}

body {
  background-color: #fff;
  padding: 0;
  margin: 0;
}

#body .btn {
  background-color: #190E90;
  color: #fff;
}
#body .btn:hover {
  background-color: #4C4EF9;
}

/*Back to top btn*/
#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 998;
  display: none;
}

/*Header*/
header {
  height: 80vh;
  background-image: url("../img/header_bg_blur.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
}
header .center {
  text-align: center;
  width: 100%;
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
}
header .socials i {
  color: #fff;
  font-size: 2em;
  margin: 0 10px;
}
header .socials i:hover {
  color: #060606;
}

@media only screen and (max-width: 750px) {
  h1 {
    font-size: 3.5em;
  }
}
@media only screen and (max-width: 350px) {
  header .center {
    width: 90%;
  }
}
/*Top Nav*/
#top-nav {
  display: block;
  background-color: #060606;
  height: 10vh;
}
#top-nav ul {
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
}

#body .nav-item .nav-link {
  color: grey;
}
#body .nav-item .nav-link .active {
  color: #fff;
}
#body .nav-item .nav-link :hover {
  background: #232426;
  color: #fff;
}

/*Responsive nav*/
.menu_icon_cont {
  display: none;
  cursor: pointer;
  width: 35px;
  height: 39px;
  margin: 10px 20px;
}
.menu_icon_cont .menu_icon_cont_inside {
  float: right;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #fff;
  margin: 6px 0;
  border-radius: 10px;
}

.open .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}
.open .bar2 {
  transform: translate(0, 0) rotate(45deg);
}
.open .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

#resp-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 0%;
  height: 100vh;
  background-color: #060606;
  z-index: 999;
  transition: width 0.2s linear;
}
#resp-nav ul, #resp-nav #resp-nav-icon {
  display: none;
}
#resp-nav ul {
  list-style-type: none;
  margin-top: 20px;
}
#resp-nav ul li a {
  padding: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  white-space: nowrap;
}

#resp-nav.open {
  display: block;
  width: 100%;
}
#resp-nav.open ul, #resp-nav.open #resp-nav-icon {
  display: block;
}

@media only screen and (max-width: 500px) {
  #top-nav {
    display: none;
  }
  .menu_icon_cont {
    display: inline-block;
  }
  header {
    height: 90vh;
  }
  header .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  footer p, footer a {
    font-size: 0.8em;
  }
}
/*Footer*/
footer {
  background-color: #060606;
  text-align: center;
  margin: 0;
  padding: 30px 0;
}
footer ul {
  list-style-type: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 0;
}
footer ul li {
  display: inline-block;
  padding: 0 10px;
}
footer ul li a {
  color: #212529;
}
footer ul li a :hover {
  color: #3a3a3a;
}

/*Section*/
section {
  padding: 50px 0;
}
section .section_title, section .section_subtitle {
  text-align: center;
}
section .section_title::before, section .section_title::after, section .section_subtitle::before, section .section_subtitle::after {
  content: " -- ";
}
section img {
  width: 100%;
}
section .section_content p {
  text-align: justify;
  margin-bottom: 10px;
  line-height: 2em;
}
section i {
  color: #060606;
  font-size: 1.2em;
  padding-right: 5px;
}
section .section_text {
  text-align: center;
  padding-top: 20px;
}

.section_dark {
  background-color: #F0F0F0;
}/*# sourceMappingURL=styles.css.map */